@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.container {
  width: 60%;
  margin: 0 auto; }

* {
  padding: 0;
  margin: 0; }

body {
  background-image: url(../assets/img/bg_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center; }

ul li {
  list-style: none; }

header {
  height: 95vh;
  width: 100%;
  position: relative; }
  header .logo {
    position: absolute;
    width: 100px;
    top: 30px;
    left: 30px; }
    header .logo img {
      width: 100%;
      display: block; }
  header img.illustration {
    display: block;
    width: 15%;
    position: absolute;
    z-index: -1;
    left: 35%;
    top: 20%; }
  header .title {
    width: 30%;
    margin-left: 20%;
    height: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; }
    header .title > p {
      margin-top: 50px;
      color: #fff; }
    header .title .cta {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      header .title .cta .btn {
        width: 45%; }

@font-face {
  font-family: "Impact";
  src: url("../assets/fonts/Impact.woff2") format("woff2"), url("../assets/fonts/Impact.woff") format("woff"), url("../assets/fonts/Impact.ttf") format("ttf"); }

h1 {
  font-family: Impact;
  color: #fff;
  letter-spacing: 4px;
  font-size: 40px; }

h2 {
  font-family: Impact;
  color: #232323;
  font-size: 22px; }

p {
  font-family: Raleway;
  color: #232323; }

.btn {
  border-radius: 100px;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer; }
  .btn p, .btn a {
    color: #EF473A;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    display: block; }
    .btn p:visited, .btn a:visited {
      color: #fff; }
  .btn.secondary {
    background: linear-gradient(90deg, #EF473A 0%, #EF4379 100%);
    border: 1px solid #fff; }
    .btn.secondary p, .btn.secondary a {
      color: #fff; }

.mockup {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 10px; }
  .mockup > div {
    width: 50%; }
    .mockup > div:last-child {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap; }
    .mockup > div .iphone {
      height: 600px;
      width: 90%;
      margin: 0 auto;
      border-radius: 60px;
      box-shadow: 0px 0px 42px 3px rgba(0, 0, 0, 0.15);
      border: 1px solid #D2D2D2;
      overflow: hidden;
      background-color: #fff; }
    .mockup > div article {
      width: 85%;
      position: relative;
      opacity: 0.5; }
      .mockup > div article.active {
        opacity: 1; }
      .mockup > div article:not(:first-child) {
        margin-top: 80px; }
      .mockup > div article p {
        margin-top: 20px; }
      .mockup > div article:nth-child(1)::after {
        content: "1";
        font-family: Impact;
        color: #EF473A;
        font-size: 75px;
        opacity: 0.3;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%); }
      .mockup > div article:nth-child(2)::after {
        content: "2";
        font-family: Impact;
        color: #EF473A;
        font-size: 75px;
        opacity: 0.3;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%); }
      .mockup > div article:nth-child(3)::after {
        content: "3";
        font-family: Impact;
        color: #EF473A;
        font-size: 75px;
        opacity: 0.3;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%); }

.coach {
  position: relative;
  height: 577px;
  display: flex;
  align-items: center;
  background-image: url(../assets/img/shape_arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .coach img {
    width: 150px;
    left: 10%;
    top: 10%;
    position: absolute; }
  .coach div.wrapper {
    width: 60%;
    margin-left: 40%; }
    .coach div.wrapper p {
      margin-top: 20px; }
    .coach div.wrapper .btn {
      margin-top: 60px;
      width: 220px; }
      .coach div.wrapper .btn p {
        margin-top: 0; }

.division {
  height: 600px;
  background: url(../assets/img/shape_division.png);
  background-size: 50%;
  background-position-x: right;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; }
  .division .container img {
    position: absolute;
    right: -80px;
    top: 0;
    width: 570px; }
  .division .container .title {
    width: 70%; }
    .division .container .title p {
      margin-top: 20px; }

.feedback {
  position: relative; }
  .feedback h2 {
    text-align: center; }
  .feedback .swiper-container {
    width: 70%;
    height: 150px;
    margin: 90px auto;
    border: 3px solid #EF4379;
    border-radius: 26px; }
    .feedback .swiper-container .swiper-wrapper .swiper-slide {
      display: flex;
      align-items: center; }
      .feedback .swiper-container .swiper-wrapper .swiper-slide .avi {
        height: 120px;
        width: 120px;
        margin-left: 15px; }
        .feedback .swiper-container .swiper-wrapper .swiper-slide .avi img {
          max-width: 100%;
          max-height: 100%;
          display: block; }
      .feedback .swiper-container .swiper-wrapper .swiper-slide .comment {
        width: calc(100% - 130px);
        line-height: 1.5;
        margin-left: 15px; }
  .feedback .quotes {
    position: absolute;
    margin: 0 auto;
    width: 60%;
    top: 34%; }
    .feedback .quotes span {
      position: absolute;
      display: block;
      width: 60px;
      height: 100px;
      background-image: url(../assets/pictos/quote.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0 auto; }
      .feedback .quotes span:first-child {
        left: 0;
        right: 35%; }
      .feedback .quotes span:last-child {
        left: 55%;
        right: 0;
        top: 150px; }

.swiper-button-prev, .swiper-button-next {
  outline: none;
  top: 77%; }
  .swiper-button-prev::after, .swiper-button-next::after {
    content: "";
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat; }

.swiper-button-prev {
  left: 20%; }
  .swiper-button-prev::after {
    background-image: url(../assets/pictos/arrow_prev.svg); }

.swiper-button-next {
  right: 20%; }
  .swiper-button-next::after {
    background-image: url(../assets/pictos/arrow_next.svg); }

.swiper-pagination {
  bottom: -40px;
  left: 0;
  right: 35%;
  margin: 0 auto; }
  .swiper-pagination span {
    margin-left: 10px;
    width: 15px;
    height: 15px;
    background-color: #EF4379; }
    .swiper-pagination span:not(.swiper-pagination-bullet-active) {
      background-color: #fff;
      border: 1px solid #EF4379;
      box-sizing: border-box; }

footer {
  height: 200px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  background-image: linear-gradient(90deg, #EF473A 0%, #EF4379 100%); }
  footer .container {
    display: flex;
    justify-content: space-around;
    height: 200px; }
    footer .container .wrapper {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      footer .container .wrapper .btn {
        box-shadow: 0px 0px 42px 3px rgba(0, 0, 0, 0.15); }
      footer .container .wrapper p.text {
        color: #fff;
        text-align: center;
        font-size: 12px;
        margin-top: 10px; }
      footer .container .wrapper ul {
        display: flex;
        align-items: center;
        justify-content: space-around; }
        footer .container .wrapper ul li {
          height: 30px;
          width: 30px; }
          footer .container .wrapper ul li img {
            width: 100%; }
