@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.container {
  width: 60%;
  margin: 0 auto; }
  @media screen and (max-width: 992px) {
    .container {
      width: 80%; } }
  @media screen and (max-width: 698px) {
    .container {
      width: 90%; } }

* {
  padding: 0;
  margin: 0; }

body {
  background-image: url(../assets/img/bg_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center; }
  @media screen and (max-width: 992px) {
    body {
      background-image: url(../assets/img/bg_mobile.png);
      background-position-y: -30%; } }
  @media screen and (max-width: 698px) {
    body {
      background-position-y: 0; } }

ul li {
  list-style: none; }

header {
  height: 95vh;
  width: 100%;
  position: relative; }
  header .logo {
    position: absolute;
    width: 100px;
    top: 30px;
    left: 30px; }
    header .logo img {
      width: 100%;
      display: block; }
  header img.illustration {
    display: block;
    width: 15%;
    position: absolute;
    z-index: -1;
    left: 35%;
    top: 20%; }
  header .title {
    width: 30%;
    margin-left: 20%;
    height: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; }
    header .title > p {
      margin-top: 50px;
      color: #fff; }
    header .title .cta {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      header .title .cta .btn {
        width: 45%;
        box-shadow: 0px 0px 42px 3px rgba(0, 0, 0, 0.15); }
  @media screen and (max-width: 992px) {
    header .logo {
      width: 150px;
      left: 0;
      right: 0;
      margin: 0 auto; }
    header img.illustration {
      width: 20%;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 40%; }
    header .title {
      width: 60%;
      margin: 0 auto;
      text-align: center;
      height: 100%;
      position: relative;
      justify-content: flex-start; }
      header .title h1 {
        margin-top: 150px; }
      header .title .cta {
        position: absolute;
        top: 60%;
        flex-direction: column;
        width: 100%; }
        header .title .cta .btn {
          width: 70%; }
          header .title .cta .btn:last-child {
            margin-top: 30px; } }
  @media screen and (max-width: 698px) {
    header img.illustration {
      width: 40%;
      top: 50%; }
    header .title {
      width: 90%; }
      header .title .cta {
        bottom: 10px;
        top: auto; } }

@font-face {
  font-family: "Impact";
  src: url("../assets/fonts/Impact.woff2") format("woff2"), url("../assets/fonts/Impact.woff") format("woff"), url("../assets/fonts/Impact.ttf") format("ttf"); }

h1 {
  font-family: Impact;
  color: #fff;
  letter-spacing: 4px;
  font-size: 40px; }

h2 {
  font-family: Impact;
  color: #232323;
  font-size: 32px; }

h3 {
  font-family: Impact;
  color: #EF4379;
  font-size: 18px; }
  h3 span {
    font-family: Raleway;
    color: #EF4379;
    font-size: 12px; }

p {
  font-family: Raleway;
  color: #232323; }

.btn {
  border-radius: 100px;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #EF473A; }
  .btn p, .btn a {
    color: #EF473A;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    display: block;
    font-family: Raleway; }
    .btn p:visited, .btn a:visited {
      color: #fff; }
  .btn.secondary {
    background: linear-gradient(90deg, #EF473A 0%, #EF4379 100%);
    border: 1px solid #fff; }
    .btn.secondary p, .btn.secondary a {
      color: #fff; }

.mockup {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 10px; }
  .mockup > div {
    width: 50%; }
    .mockup > div:last-child {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap; }
    .mockup > div.slider {
      display: none; }
    .mockup > div .iphone {
      height: 600px;
      max-width: 277px;
      width: 90%;
      margin: 0 auto;
      border-radius: 60px;
      box-shadow: 0px 0px 42px 3px rgba(0, 0, 0, 0.15);
      border: 1px solid #D2D2D2;
      overflow: hidden;
      background-color: #fff; }
      .mockup > div .iphone img {
        display: none;
        height: 102%;
        width: 102%;
        margin-left: -1%;
        margin-top: -1%; }
        .mockup > div .iphone img.active {
          display: block; }
    .mockup > div article {
      width: 85%;
      position: relative;
      opacity: 0.5; }
      .mockup > div article.active {
        opacity: 1; }
      .mockup > div article:not(:first-child) {
        margin-top: 80px; }
      .mockup > div article p {
        margin-top: 20px; }
      .mockup > div article:nth-child(1)::after {
        content: "1";
        font-family: Impact;
        color: #EF473A;
        font-size: 75px;
        opacity: 0.3;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%); }
      .mockup > div article:nth-child(2)::after {
        content: "2";
        font-family: Impact;
        color: #EF473A;
        font-size: 75px;
        opacity: 0.3;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%); }
      .mockup > div article:nth-child(3)::after {
        content: "3";
        font-family: Impact;
        color: #EF473A;
        font-size: 75px;
        opacity: 0.3;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%); }
  @media screen and (max-width: 992px) {
    .mockup {
      flex-direction: column;
      padding-top: 40px;
      width: 100%; }
      .mockup > div {
        width: 100%; }
        .mockup > div:last-child {
          display: none; }
        .mockup > div.slider {
          display: block;
          margin-top: -150px;
          background-color: #fff;
          box-shadow: 0px 0px 42px 3px rgba(0, 0, 0, 0.15);
          height: 300px;
          overflow: hidden;
          position: relative; }
          .mockup > div.slider .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center; }
            .mockup > div.slider .swiper-slide article {
              width: 60%; }
              .mockup > div.slider .swiper-slide article h2 {
                position: relative;
                z-index: 2; }
            .mockup > div.slider .swiper-slide .swiper-pagination {
              bottom: 20px;
              top: auto; }
            .mockup > div.slider .swiper-slide:nth-child(1) article::after {
              content: "1";
              font-family: Impact;
              color: #EF473A;
              font-size: 75px;
              opacity: 0.3;
              position: absolute;
              left: 10px;
              top: 0%;
              transform: translateY(-50%); }
            .mockup > div.slider .swiper-slide:nth-child(2) article::after {
              content: "2";
              font-family: Impact;
              color: #EF473A;
              font-size: 75px;
              opacity: 0.3;
              position: absolute;
              left: 10px;
              top: 0%;
              transform: translateY(-50%); }
            .mockup > div.slider .swiper-slide:nth-child(3) article::after {
              content: "3";
              font-family: Impact;
              color: #EF473A;
              font-size: 75px;
              opacity: 0.3;
              position: absolute;
              left: 10px;
              top: 0%;
              transform: translateY(-50%); } }
  @media screen and (max-width: 698px) {
    .mockup > div .slider .swiper-slide article {
      width: 85%; } }

.coach {
  position: relative;
  height: 577px;
  display: flex;
  align-items: center;
  background-image: url(../assets/img/shape_arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .coach img {
    width: 150px;
    left: 10%;
    top: 10%;
    position: absolute; }
  .coach div.wrapper {
    width: 60%;
    margin-left: 40%; }
    .coach div.wrapper p {
      margin-top: 20px; }
    .coach div.wrapper .btn {
      margin-top: 60px;
      width: 220px; }
      .coach div.wrapper .btn p {
        margin-top: 0; }
  @media screen and (max-width: 992px) {
    .coach {
      background-size: contain;
      background-position-y: 90%;
      align-items: flex-start;
      padding-top: 80px;
      height: 350px; }
      .coach img {
        width: 75px;
        top: auto;
        bottom: 5%;
        left: 5%; }
      .coach div.wrapper {
        width: 100%;
        margin-left: 0; }
        .coach div.wrapper h2 {
          text-align: center; }
        .coach div.wrapper p {
          text-align: center; }
        .coach div.wrapper .btn {
          margin: 60px auto 0; } }

.division {
  height: 600px;
  background: url(../assets/img/shape_division.png);
  background-size: 50%;
  background-position-x: right;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; }
  .division .container img {
    position: absolute;
    right: -80px;
    top: 0;
    width: 570px; }
  .division .container .title {
    width: 70%; }
    .division .container .title p {
      margin-top: 20px; }
  @media screen and (max-width: 992px) {
    .division {
      background-size: 60%;
      background-position-y: 100%;
      align-items: flex-start; }
      .division .container img {
        width: 420px;
        bottom: 0;
        top: auto; }
      .division .container .title {
        width: 100%;
        padding-top: 80px; }
        .division .container .title h2 {
          text-align: center; }
        .division .container .title p {
          text-align: center; } }
  @media screen and (max-width: 698px) {
    .division {
      background-position-y: 80%; }
      .division .container img {
        width: 320px;
        bottom: 20%; } }

.feedback {
  position: relative; }
  .feedback h2 {
    text-align: center; }
  .feedback .swiper-container {
    width: 70%;
    height: 150px;
    margin: 90px auto;
    border: 3px solid #EF4379;
    border-radius: 26px; }
    .feedback .swiper-container .swiper-wrapper .swiper-slide {
      display: flex;
      align-items: center; }
      .feedback .swiper-container .swiper-wrapper .swiper-slide .avi {
        height: 120px;
        width: 120px;
        margin-left: 15px;
        border-radius: 10px;
        overflow: hidden; }
        .feedback .swiper-container .swiper-wrapper .swiper-slide .avi img {
          width: 100%;
          height: 100%;
          display: block; }
      .feedback .swiper-container .swiper-wrapper .swiper-slide .comment {
        width: calc(100% - 130px);
        line-height: 1.5;
        margin-left: 15px; }
        .feedback .swiper-container .swiper-wrapper .swiper-slide .comment .note span {
          height: 10px;
          width: 10px;
          display: inline-block;
          box-sizing: border-box;
          border: 1px solid #EF4379;
          border-radius: 50%; }
          .feedback .swiper-container .swiper-wrapper .swiper-slide .comment .note span.active {
            background: #EF4379; }
  .feedback .quotes {
    position: absolute;
    margin: 0 auto;
    width: 60%;
    top: 34%; }
    .feedback .quotes span {
      position: absolute;
      display: block;
      width: 60px;
      height: 100px;
      background-image: url(../assets/pictos/quote.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0 auto;
      font-family: Impact; }
      .feedback .quotes span:first-child {
        left: 0;
        right: 35%; }
      .feedback .quotes span:last-child {
        left: 55%;
        right: 0;
        top: 150px; }
  @media screen and (max-width: 992px) {
    .feedback .swiper-container {
      width: 80%; }
    .feedback .quotes span:last-child {
      right: -60%; } }
  @media screen and (max-width: 698px) {
    .feedback .swiper-container {
      height: 225px; }
      .feedback .swiper-container .swiper-wrapper .swiper-slide {
        align-items: flex-start; }
        .feedback .swiper-container .swiper-wrapper .swiper-slide .avi {
          display: block;
          position: absolute;
          top: 10px;
          left: 10px;
          margin-left: 0;
          width: 70px;
          height: 70px; }
        .feedback .swiper-container .swiper-wrapper .swiper-slide .comment {
          width: 100%; }
          .feedback .swiper-container .swiper-wrapper .swiper-slide .comment h3, .feedback .swiper-container .swiper-wrapper .swiper-slide .comment .note {
            margin-left: 80px; }
          .feedback .swiper-container .swiper-wrapper .swiper-slide .comment h3 {
            margin-top: 10px; }
          .feedback .swiper-container .swiper-wrapper .swiper-slide .comment p {
            margin-top: 40px; }
    .feedback .quotes span:first-child {
      top: 80px; }
    .feedback .quotes span:last-child {
      left: 95%;
      top: 174px; } }

.swiper-button-prev, .swiper-button-next {
  outline: none;
  top: 77%; }
  .swiper-button-prev::after, .swiper-button-next::after {
    content: "";
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat; }
  @media screen and (max-width: 698px) {
    .swiper-button-prev, .swiper-button-next {
      top: auto;
      bottom: -15%; } }

.swiper-button-prev {
  left: 20%; }
  .swiper-button-prev::after {
    background-image: url(../assets/pictos/arrow_prev.svg); }
  @media screen and (max-width: 992px) {
    .swiper-button-prev {
      left: 10%; } }
  @media screen and (max-width: 698px) {
    .swiper-button-prev {
      left: 20%; } }

.swiper-button-next {
  right: 20%; }
  .swiper-button-next::after {
    background-image: url(../assets/pictos/arrow_next.svg); }
  @media screen and (max-width: 992px) {
    .swiper-button-next {
      right: 10%; } }
  @media screen and (max-width: 698px) {
    .swiper-button-next {
      right: 20%; } }

.swiper-pagination {
  bottom: -40px;
  left: 0;
  right: 35%;
  margin: 0 auto; }
  .swiper-pagination span {
    margin-left: 10px;
    width: 15px;
    height: 15px;
    background-color: #EF4379; }
    .swiper-pagination span:not(.swiper-pagination-bullet-active) {
      background-color: #fff;
      border: 1px solid #EF4379;
      box-sizing: border-box; }

footer {
  height: 200px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  background-image: linear-gradient(90deg, #EF473A 0%, #EF4379 100%); }
  footer .container {
    display: flex;
    justify-content: space-around;
    height: 200px; }
    footer .container .wrapper {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      footer .container .wrapper .btn {
        box-shadow: 0px 0px 42px 3px rgba(0, 0, 0, 0.15); }
      footer .container .wrapper p.text {
        color: #fff;
        text-align: center;
        font-size: 12px;
        margin-top: 10px; }
      footer .container .wrapper ul {
        display: flex;
        align-items: center;
        justify-content: space-around; }
        footer .container .wrapper ul li {
          height: 30px;
          width: 30px; }
          footer .container .wrapper ul li img {
            width: 100%; }
  @media screen and (max-width: 698px) {
    footer .container {
      flex-direction: column;
      align-items: center; }
      footer .container .wrapper {
        width: 70%; } }
