@import './helpers/variables';
@import './helpers/helpers';

@import './components/default';
@import './components/header';
@import './components/fonts';
@import './components/buttons';
@import './components/mockup';
@import './components/coach';
@import './components/divisions';
@import './components/feedback';
@import './components/swiper';
@import './components/footer';
