.btn {
    border-radius: 100px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid $red;

    p, a {
        color: $red;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        display: block;

        &:visited {
            color: #fff;
        }
    }

    &.secondary {
        background: $gradient;
        border: 1px solid #fff;
        
        p, a {
            color: #fff;
        }
    }
}