.coach {
    position: relative;
    height: 577px;
    display: flex;
    align-items: center;
    background-image: url(../assets/img/shape_arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    img {
        width: 150px;
        left: 10%;
        top: 10%;
        position: absolute;
    }

    div.wrapper {
        width: 60%;
        margin-left: 40%;

        p {
            margin-top: 20px;
        }

        .btn {
            margin-top: 60px;
            width: 220px;

            p {
                margin-top: 0;
            }
        }
    }

    @media screen and (max-width: $tab){
        background-size: contain;
        background-position-y: 90%;
        align-items: flex-start;
        padding-top: 80px;
        height: 350px;

        img {
            width: 75px;
            top: auto;
            bottom: 5%;
            left: 5%;
        }

        div.wrapper {
            width: 100%;
            margin-left: 0;

            h2 {
                text-align: center;
            }

            p {
                text-align: center;
            }

            .btn {
                margin: 60px auto 0;
            }
        }
    }
}