* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../assets/img/bg_2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

    @media screen and (max-width: $mobile){
        background-image: url(../assets/img/bg_mobile.png);
    }
}

ul {
    li {
        list-style: none;
    }
}