.division {
    height: 600px;
    background: url(../assets/img/shape_division.png);
    background-size: 50%;
    background-position-x: right;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    
    .container {
        img {
            position: absolute;
            right: -80px;
            top: 0;
            width: 570px;
        }
    
        .title {
            width: 70%;

            p {
                margin-top: 20px;
            }
        }
    }

    @media screen and (max-width: $tab) {
        background-size: 60%;
        background-position-y: 100%;
        align-items: flex-start;

        .container {

            img {
                width: 420px;
                bottom: 0;
                top: auto;
            }

            .title {
                width: 100%;
                padding-top: 80px;

                h2 {
                    text-align: center;
                }
                p {
                    text-align: center;
                }
            }
        }
    }
    @media screen and (max-width:$mobile) {
        background-position-y: 80%;

        .container {
            img {
                width: 320px;
                bottom: 20%;
            }
        }
    }
}