.feedback {
    h2 {
        text-align: center;
    }

    .swiper-container {
        width: 70%;
        height: 150px;
        margin: 90px auto;
        border: 3px solid $pink;
        border-radius: 26px;
    }
}