@font-face {
    font-family: "Impact";
    src: url("../assets/fonts/Impact.woff2") format("woff2"),
         url("../assets/fonts/Impact.woff") format("woff"),
         url("../assets/fonts/Impact.ttf") format("ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1 {
    font-family: Impact;
    color: #fff;
    letter-spacing: 4px;
    font-size: 40px;
}

h2 {
    font-family: Impact;
    color: $black;
    font-size: 22px;
}

p {
    font-family: Raleway;
    color: $black;
}