header {
    height: 85vh;
    width: 100%;
    position: relative;

    .background {
        img {
            display: block;
            width: 100%;
            position: absolute;
            z-index: -1;

            &.illustration {
                width: 15%;
                left: 35%;
                top: 20%;
            }
        }
    }

    .title {
        width: 30%;
        margin-left: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        > p {
            margin-top: 50px;
        } 

        .cta {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .btn {
                width: 45%;
            }
        }
    }
}