header {
    height: 95vh;
    width: 100%;
    position: relative;

    .logo {
        position: absolute;
        width: 100px;
        top: 30px;
        left: 30px;

        img {
            width: 100%;
            display: block;
        }
    }

    img {
        &.illustration {
            display: block;
            width: 15%;
            position: absolute;
            z-index: -1;
            left: 35%;
            top: 20%;
        }
    }

    .title {
        width: 30%;
        margin-left: 20%;
        height: 75%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        > p {
            margin-top: 50px;
            color: #fff;
        } 

        .cta {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .btn {
                width: 45%;
                box-shadow: $shadow;
            }
        }
    }

    @media screen and (max-width: $mobile) {
        .logo {
            width: 150px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        img {
            &.illustration {
                width: 40%;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 50%
            }
        }

        .title {
            width: 90%;
            margin: 0 auto;
            text-align: center;
            height: 100%;
            position: relative;
            justify-content: flex-start;

            h1 {
                margin-top: 150px;
            }

            .cta {
                position: absolute;
                bottom: 10px;
                flex-direction: column;
                width: 100%;

                .btn {
                    width: 70%;

                    &:last-child {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}