.swiper-button-prev, .swiper-button-next {
    outline: none;
    top: 77%;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.swiper-button-prev {
    left: 20%;

    &::after {
        background-image: url(../assets/pictos/arrow_prev.svg);
    }
}

.swiper-button-next {
    right: 20%;

    &::after {
        background-image: url(../assets/pictos/arrow_next.svg);
    }
}

.swiper-pagination {
    bottom: -40px;
    left: 0;
    right: 35%;
    margin: 0 auto;

    span {
        margin-left: 10px;
        width: 15px;
        height: 15px;
        background-color: $pink;

        &:not(.swiper-pagination-bullet-active) {
            background-color: #fff;
            border: 1px solid $pink;
            box-sizing: border-box;
        }
    }
}